<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Blackboard dev docs</h5>
          <p class="grey-text text-lighten-4">We have created this site as a repository for guides, documentation and more for our Blackboard developer 
            community. Please feel free to reach us out at developers@blackboard.com if you have any questions. Happy Coding!</p>
            <h5 class="white-text">Community</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://community.blackboard.com/home">-> Be a part of our Community!</a></li>
              <li><a class="grey-text text-lighten-3" href="#">-> Become an official Blackboard partner!</a></li>
              <li><a class="grey-text text-lighten-3" href="#">-> Get involved in the community!</a></li>
            </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Quick APIs access</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://developer.blackboard.com/portal/displayApi">Blackboard Learn API</a></li>
            <li><a class="grey-text text-lighten-3" href="https://app.swaggerhub.com/apis-docs/BBDN/collaborate-api/1.0.0">Blackboard Collaborate API</a></li>
            <li><a class="grey-text text-lighten-3" href="https://ally.ac/api/">Blackboard Ally API</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Blackboard, Inc
      <a class="grey-text text-lighten-4 right" target="_blank" href="https://www.blackboard.com">Blackboard.com</a>
      </div>
    </div>
  </footer>
</body>
</html>