<div id="body_before_container"> 
    <div class="container">
        {{ content }}
        <div class="row">
            <div class="col s3">
                <p class="home_welcome_rows_icons">
                    <i class="large material-icons">group</i>
                </p>
                <h5>Community Home</h5>
                <p class="home_welcome_rows">The Blackboard Developer community starts here! You can see the latest blogs, forum posts, and events. 
                    If you are a Blackboard Developer, you will want to add this to the places you visit daily.</p>
            </div>
            <div class="col s3">
                <p class="home_welcome_rows_icons">
                    <i class="large material-icons">question_answer</i>
                </p>
                <h5>Forums</h5>
                <p class="home_welcome_rows">This is the place to talk to your fellow developers. Share tips and tricks, ask questions, and help answer questions from your colleagues. 
                    This is a great way to see what others are doing and learn from their experiences.</p>
            </div>
            <div class="col s3">
                <p class="home_welcome_rows_icons">
                    <i class="large material-icons">record_voice_over</i>
                </p>
                <h5>Blogs</h5>
                <p class="home_welcome_rows">Learn tips & tricks, workarounds, and other interesting topics from Blackboard developer experts. 
                    This is where we will post our blogs on topics that are important to you, the Blackboard developer.</p>
            </div>
            <div class="col s3">
                <p class="home_welcome_rows_icons">
                    <i class="large material-icons">video_call</i>
                </p>
                <h5>Technical Office Hours</h5>
                <p class="home_welcome_rows"> Technical Office Hours is a weekly hour-long session dedicated to Blackboard’s technical users. We gather with System Administrators, 
                    Developers, and anyone else that wants to join to discuss on-going issues, talk about what’s coming up for Blackboard users, 
                    and share what’s going on with each other. We provide webinars and training from time-to-time, but generally, 
                    this is an hour of open discussion driven by the participants.</p>
            </div>
        </div>
    </div>
</div>
